@font-face {
    font-family: 'politetyperegular';
    src: url('../../public/politetype-regular-webfont.woff2') format('woff2'),
         url('../../public/politetype-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.crear {
    border-radius: 5px;
    font-size: 1.5em;
}

